#
# FOLIO okapi-deploy
#

# Install as /etc/default/okapi-deploy for Debian based distributions

# Default settings
CURL="/usr/bin/curl"
CONF_DIR="{{ folio_conf }}"
OKAPI_UNDEPLOY="/usr/share/folio/okapi/bin/okapi-undeploy"
