{
  "srvcId" : "inventory",
  "nodeId" : "localhost",
  "descriptor" : {
    "exec" : "java -Dorg.folio.metadata.inventory.storage.type=okapi -Dport=%p -jar {{ mod_metadata_home }}/inventory/lib/inventory.jar"
  }
}