[Unit]
Description=Deploy FOLIO inventory module to Okapi on localhost
Requires=okapi.service
After=okapi.service

[Service]
User={{ folio_user }}
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/curl -s -X POST -H "Content-Type: application/json" -d @{{ mod_metadata_home }}/inventory/conf/DeploymentDescriptor.json {{ okapi_url }}_/discovery/modules
ExecStop={{ okapi_home }}/bin/okapi-undeploy inventory {{ okapi_url }}

[Install]
WantedBy=multi-user.target
