---
- name: create build dir
  become: yes
  file: 
    path: "{{ stripes_conf_dir }}"
    state: directory

- name: generate templates and copy to build dir
  become: yes
  template: 
    src: "{{ item.src }}"
    dest: "{{ stripes_conf_dir }}/{{ item.dest }}"
  with_items: 
    - { src: 'stripes.config.js.j2', dest: 'stripes.config.js' }
    - { src: 'package.json.j2', dest: 'package.json' }
  when: with_github == false
  notify: "Rebuild stripes"

- name: copy build-module-descriptors.js to build dir
  become: yes
  copy: src=build-module-descriptors.js dest={{ stripes_conf_dir}}/build-module-descriptors.js
  when: with_github == false
  notify: "Rebuild stripes"

- name: copy stripes platform files from github project from branch
  become: yes
  git: 
    repo: "{{ stripes_github_project }}"
    dest: "{{ stripes_conf_dir }}"
    version: "{{ stripes_github_version }}"
    update: no
  when: with_github == true and not from_refspec
  notify: "Rebuild stripes"

- name: copy stripes platform files from github project from refspec
  become: yes
  git: 
    repo: "{{ stripes_github_project }}"
    dest: "{{ stripes_conf_dir }}"
    version: "{{ stripes_github_version }}"
    refspec: "{{ stripes_github_refspec }}:{{ stripes_github_version }}"
    update: no
  when: with_github == true and from_refspec
  notify: "Rebuild stripes"

- name: copy yarn.lock file to stripes_conf_dir
  become: yes
  get_url: 
    url: "{{ folio_snapshot_url }}/yarn.lock"
    dest: "{{ stripes_conf_dir }}"
  when: use_folio_snapshot
  notify: "Rebuild stripes" 

- name: Force build of mod descriptors from github without strict flag
  become: yes
  replace:
    name: "{{ stripes_conf_dir }}/package.json"
    regexp: '(^\s*\"postinstall\"\s*:.*)\s+--strict(\").*$'
    replace: '\1\2'
  when: with_github == true and stripes_strict_md == false
  notify: "Rebuild stripes"

- name: Force build of mod descriptors from github with strict flag
  become: yes
  replace:
    name: "{{ stripes_conf_dir }}/package.json"
    regexp: '(^\s*\"build-module-descriptors\"\s*:.*build-module-descriptors.js)(?!\s+--strict)(.*$)'
    replace: '\1 --strict \2'
  when: with_github and stripes_strict_md
  notify: "Rebuild stripes"

- name: Pin Nodejs to v14
  become: yes
  shell: n 14 && touch {{ stripes_conf_dir }}/.set_nodedefault_ansible
  args:
    creates: "{{ stripes_conf_dir }}/.set_nodedefault_ansible"

- name: copy npmrc configuration 
  become: yes
  template: 
    src: "{{ item.src }}"
    dest: "{{ stripes_conf_dir }}/{{ item.dest }}"
  with_items:
    - { src: 'npmrc.j2', dest: '.npmrc' }
  notify: "Rebuild stripes"

- name: copy yarnrc configuration
  become: yes
  template:
    src: yarnrc.j2
    dest: "{{ stripes_conf_dir }}/.yarnrc"
  when: npm_proxy == true
  notify: "Rebuild stripes"

- name: Ensure modules are registered
  command: /bin/true
  when: okapi_register_modules == true
  notify: "Register modules"

- name: Ensure modules are enabled for tenants
  command: /bin/true
  when: okapi_enable_modules
  notify: "Enable modules"

- meta: flush_handlers 
