# Okapi JSON configuration template file for role okapi-docker-container
# Written following the Okapi configuration definition from github

# Default okapi port
port="{{ okapi_port }}"
port_start="{{ okapi_port_start }}"
port_end="{{ okapi_port_end }}"

host="{{ okapi_host }}"

{% if okapi_role == "cluster" %}
nodename="{{ okapi_nodename|default('`/bin/hostname`') }}"
{% else %}
nodename="localhost"

storage="{{ okapi_storage }}"
