{

    "port": "{{ okapi_port }}",
    "port_start": "{{okapi_port_start}}",
    "port_end": "{{ okapi_port_end }}",
    "host": "{{ ansible_default_ipv4.address }}",
    "storage": "{{ okapi_storage }}",
    "okapiurl": "{{ okapi_url }}",
    "dockerUrl": "{{ docker_url }}"
     


}
