{

    "port": "{{ okapi_port }}",
    "port_start": "{{okapi_port_start}}",
    "port_end": "{{ okapi_port_end }}",
    "host": "{{ ansible_default_ipv4.address }}",
    "storage": "{{ okapi_storage }}",
    "okapiurl": "{{ okapi_url }}",
    "dockerUrl": "{{ docker_url }}",
    "containerHost": "{{ okapi_default_host }}",
    "postgres_host": "{{ okapi_default_host }}",
    "postgres_port": "{{ postgres_port }}",
    "postgres_username": "{{ postgres_username }}",
    "postgres_password": "{{ postgres_password }}",
    "postgres_database": "{{ postgres_db }}",
    "postgres_db_init": "1",
    "token_cache_max_size": "10000",
    "token_cache_ttl_ms": "180000",
    "deploy_waitIterations": "60"
    


}
