{
    "module": "SMTP_SERVER",
    "configName": "email",
    "code": "EMAIL_SMTP_HOST",
    "description": "email smtp host",
    "default": true,
    "enabled": true,
    "value": "{{ email_smtp_host }}"
}
