{
    "module": "SMTP_SERVER",
    "configName": "smtp",
    "code": "EMAIL_PASSWORD",
    "description": "email server password",
    "default": true,
    "enabled": true,
    "value": "{{ email_password }}"
}
