{
    "module": "SMTP_SERVER",
    "configName": "smtp",
    "code": "EMAIL_USERNAME",
    "description": "server smtp host",
    "default": true,
    "enabled": true,
    "value": "{{ email_username }}"
}
