{
    "module": "SMTP_SERVER",
    "configName": "smtp",
    "code": "EMAIL_FROM",
    "description": "email from address",
    "default": true,
    "enabled": true,
    "value": "{{ email_from }}"
}
