{
    "module": "SMPT_SERVER",
    "configName": "email",
    "code": "EMAIL_USERNAME",
    "description": "smtp username",
    "default": true,
    "enabled": true,
    "value": "{{ email_username }}"
}
