{
    "module": "SMTP_SERVER",
    "configName": "smtp",
    "code": "EMAIL_SMTP_LOGIN_OPTION",
    "description": "server smtp port",
    "default": true,
    "enabled": true,
    "value": "{{ email_smtp_port }}"
}
