{
    "module": "USERSBL",
    "configName": "FOLIO host",
    "code": "FOLIO_HOST",
    "description": "FOLIO host address for password reset",
    "default": true,
    "enabled": true,
    "value": "{{ stripes_url }}"
}

