---

- name: Create configuration source directory
  become: yes
  file:
    path: '/etc/folio/okapi'
    state: directory

# Need to set group to 1000 for file to be readable by user in Okapi
# container
- name: Install okapi.json
  become: yes
  template:
    src: okapi.json.j2
    dest: /etc/folio/okapi/okapi.json
    group: "1000"
    mode: 0640
    backup: yes
  notify: okapi restart

# Use host networking so Okapi can communicate with the local Docker daemon
- name: Create and Launch Okapi Docker Container
  become: yes
  docker_container:
    name: okapi
    image: "{{ okapi_docker_org }}/okapi:{{ okapi_version }}"
    volumes:
      - /etc/folio/okapi:/usr/verticles/okapi:ro
    network_mode: host
    state: started
    restart_policy: always
    command: "dev -conf okapi/okapi.json"
    env:
      JAVA_OPTIONS: "-Djava.awt.headless=true{% for option in okapi_java_opts %} {{ option }}{% endfor %}"
  register: okapi_create_container

- meta: flush_handlers
