[Service]
ExecStart=
{% if folioci == true %}
ExecStart=/usr/bin/dockerd -H fd:// -H tcp://0.0.0.0:4243 --max-concurrent-downloads 1
{% else %}
ExecStart=/usr/bin/dockerd -H fd:// -H tcp://127.0.0.1:4243 --max-concurrent-downloads 1
{% endif %}
