apiVersion: v1
kind: ConfigMap
metadata:
  name: db-create
  namespace: "{{ namespace }}"
data:
  FOLIO_DB_NAME: "{{ folio_db_database }}"
  FOLIO_DB_PASS: "{{ folio_db_password }}"
  FOLIO_DB_USER: "{{ folio_db_user }}"
  OKAPI_DB_NAME: "{{ okapi_db_user }}"
  OKAPI_DB_PASS: "{{ okapi_db_password }}"
  OKAPI_DB_USER: "{{ okapi_db_user }}"
  PG_ADMIN_PASS: "{{ pg_admin_password }}"
  PG_ADMIN_USER: "{{ pg_admin_user }}"
  PG_HOST: "{{ pg_host }}"
