apiVersion: v1
kind: ConfigMap
metadata:
  name: hazelcast
  namespace: "{{ namespace }}"
data:
  hazelcast.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <hazelcast xmlns="http://www.hazelcast.com/schema/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.hazelcast.com/schema/config hazelcast-config-3.12.xsd">
      <semaphore name="__vertx.*">
         <initial-permits>1</initial-permits>
      </semaphore>
      <network>
        <join>
          <multicast enabled="false"/>
          <kubernetes enabled="true">
            <namespace>{{ namespace }}</namespace>
            <service-name>{{ service_name }}</service-name>
          </kubernetes>
        </join>
      </network>
    </hazelcast>