apiVersion: v1
kind: Deployment
metadata:
  name: "{{ deployment_name }}"
  labels:
    app: "{{ app_label }}"
  namespace: "{{ namespace }}"
spec:
  selector:
    matchLabels:
      app: "{{ app_label }}"
  replicas: 3
  template:
    metadata:
      labels:
        app: "{{ app_label }}"
    spec:
{% if sa_name != "default" %}
      serviceAccount: "{{ sa_name }}"
      serviceAccountName: "{{ sa_name }}"
{% endif %}
      containers:
        - name: okapi
          image: {{ okapi_docker_repository }}/{{ okapi_docker_image }}:{{ okapi_docker_tag }}
          args:
            - cluster -hazelcast-config-file /etc/hazelcast.xml -cluster-host $(POD_IP)
          env:
          - name: POD_IP
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: status.podIP
          - name: JAVA_OPTIONS
            value: >
              -Djava.awt.headless=true -Dstorage=postgres
              -Dpostgres_host={{ pg_host }}
              -Dpostgres_port={{ pg_port }}
              -Dpostgres_username={{ okapidb_user }}
              -Dpostgres_password={{ okapidb_password }}
              -Dpostgres_database={{ okapidb_name }}
              -Dhost={{ app_label }}
              -Dokapiurl={{ okapi_url }}
          ports:
          - containerPort: 9130
            protocol: TCP
          - containerPort: 5701
            protocol: TCP
          volumeMounts:
          - name: "hazelcast"
            mountPath: "/etc/hazelcast.xml"
            subPath: "hazelcast.xml"
      volumes:
      - name: "hazelcast"
        configMap:
          name: "hazelcast"
