apiVersion: v1
kind: Service
metadata:
  name: "{{ service_name }}"
  namespace: "{{ namespace }}"
spec:
  type: "{{ service_type }}"
  selector:
    app: "{{ app_label }}"
  ports:
  - name: hazelcast
    port: 5701
  - name: okapi
    port: 9130