{
  "scripts": {
    "build": "stripes build stripes.config.js",
    "stripes": "stripes",
    "start": "stripes dev stripes.config.js",
    "postinstall": "node ./build-module-descriptors.js"
  },
  "dependencies": {
    {% for module in stripes_modules %}
    "{{ module.name }}": "{{ module.version }}",
    {% endfor %}
    "@folio/stripes-core": "{{ stripes_core_version }}",
    "@folio/stripes-components": "{{ stripes_components_version }}"
  }
}
