module.exports = {
  config: {
  {% if disable_auth %}
    "disableAuth" : true,
  {% endif %}
    logCategories: 'core,connect,path,action,xhr',
    showPerms: true
  },
  okapi: {
    "url" : "{{ stripes_okapi_url }}",
    "tenant" : "{{ stripes_tenant }}"
  },
  modules: {
    {% for module in stripes_modules %}
    "{{ module.name }}" : {}{% if not loop.last %},{% endif %}
    {% endfor %}
  }
};
