apiVersion: v1
kind: Secret
metadata:
  name: {{ modules_label }}-db-connect
  namespace: {{ namespace }}
type: Opaque
stringData:
  DB_DATABASE: {{ db_database }}
  DB_HOST: {{ pg_host }}
  DB_MAXPOOLSIZE: "{{ db_maxpoolsize }}"
  DB_PASSWORD: {{ db_password }}
  DB_PORT: "{{ pg_port }}"
  DB_USERNAME: {{ db_username }}
  PG_DATABASE: {{ okapi_db_database }}
  PG_PASSWORD: {{ okapi_db_password }}
  PG_USER: {{ okapi_db_user }}
  