{
    "srvcId": "{{ module_item }}", 
    "instId": "{{ module_item }}",
    "url": "http://{{ module_item.replace('.','-').lower() }}:{{ (module_descriptor.launchDescriptor.dockerArgs.HostConfig.PortBindings.keys()| first).split('/')[0] }}"
}