apiVersion: v1
kind: Secret
metadata:
  name: {{ kafka_secret_name }}
  namespace: {{ namespace }}
type: Opaque
stringData:
  KAFKA_HOST: {{ kafka_host }}
  KAFKA_PORT: "{{ kafka_port }}"
  OKAPI_URL: {{ okapi_url }}
