apiVersion: v1
kind: Service
metadata:
  name: "{{ module_item.name }}-{{ module_item.version.replace(".","-").lower() }}"
  namespace: "{{ namespace }}"
spec:
  type: "{{ service_type }}"
  selector:
    app: "{{ module_item.name }}-{{ module_item.version.replace(".","-").lower() }}"
  ports:
  {% for key, value in module_descriptor.launchDescriptor.dockerArgs.HostConfig.PortBindings.items() -%}
  {%- set ports = key.split('/') %}
  - port: {{ ports[0] }}
  {%- endfor %}
