apiVersion: v1
kind: Deployment
metadata:
  name: {{ module_item.name }}-{{ module_item.version.replace('.','-').lower() }}
  labels:
    app: {{ module_item.name }}-{{ module_item.version.replace('.','-').lower() }}
    module: {{ module_item.name }}
    folio_role: backend-module
  namespace: "{{ namespace }}"
spec:
  selector:
    matchLabels:
      app: "{{ module_item.name }}-{{ module_item.version.replace('.','-').lower() }}"
  replicas: 1
  template:
    metadata:
      labels:
        app: "{{ module_item.name }}-{{ module_item.version.replace('.','-').lower() }}"
        module: {{ module_item.name }}
        folio_role: backend-module
    spec:
      containers:
        - name: "{{ module_item.name }}-{{ module_item.version.replace('.','-').lower() }}"
          image: {{ module_descriptor.launchDescriptor.dockerImage }}
          {% if module_item.name.startswith('edge') and module_item.name != "edge-sip2" -%}
          args: ["-Dokapi_url={{ okapi_url }}", "-Dsecure_store={{ edge_secure_store }}", "-Dsecure_store_props={{ edge_secure_store_props }}"]
          {% endif -%}
          resources:
            requests:
              memory: {{ memory_request }}
            limits:
              memory: {{ memory_limit }}
          envFrom:
          {% if db_tst -%}
          - secretRef:
              name: {{ db_secret_name }}
          {% endif -%}
          {% if module_item.name == "mod-pubsub" -%}
          - secretRef:
              name: {{ kafka_secret_name }}
          {% endif -%}
          env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: JAVA_OPTIONS
            value: {{ java_options }}
          ports:
          {% for key, value in module_descriptor.launchDescriptor.dockerArgs.HostConfig.PortBindings.items() %}{%- set ports = key.split('/') -%}
          - containerPort: {{ ports[0] }}
            protocol: TCP
          {% endfor -%}
          {% if module_item.name.startswith('edge') and module_item.name != "edge-sip2" -%}
          volumeMounts:
          - name: {{ edge_volume_name }}
            mountPath: {{ edge_mount_path }}
      volumes:
        - name: {{ edge_volume_name }}
          secret:
            secretName: {{ edge_secret_name }}
      {% endif -%}
