{
    "deployment_environment": "production",
    "ldp_database": {
{% if ldp_use_odbc %}
        "odbc_database": "{{ ldp_db }}"
{% else %}
        "database_name": "{{ ldp_db }}",
        "database_host": "{{ pg_host }}",
        "database_port": {{ pg_port }},
        "database_user": "{{ ldp_admin_user }}",
        "database_password": "{{ ldp_admin_password }}",
        "database_sslmode": "require"
{% endif %}
    },
    "enable_sources": ["{{ tenant }}"],
    "sources": {
        "{{ tenant }}": {
            "okapi_url": "{{ okapi_url }}",
            "okapi_tenant": "{{ tenant }}",
            "okapi_user": "{{ admin_user.username }}",
            "okapi_password": "{{ admin_user.password }}",
            "direct_tables": [
               "inventory_instances",
               "inventory_holdings",
               "inventory_items",
               "srs_marc",
               "srs_records" 
            ],
            "direct_database_name": "{{ folio_database_name }}",
            "direct_database_host": "{{ pg_host }}",
            "direct_database_port": {{ pg_port }},
            "direct_database_user": "{{ pg_admin_user }}",
            "direct_database_password": "{{ pg_admin_password }}"
        }
    },
    "anonymize": false
}
