[{{ ldp_db }}]
Description = {{ ldp_db }}
Driver = PostgreSQL
Database = {{ ldp_db }}
Servername = {{ pg_host }}
UserName = {{ ldp_admin_user }}
Password = {{ ldp_admin_password }}
Port = {{ pg_port }}
SSLMode = require
