server {
  listen {{ stripes_listen_port }}{%if stripes_enable_https %} ssl{% endif %};
  server_name{% for alias in stripes_server_name %} {{ alias }}{% endfor %};
  charset utf-8;
  gzip on;
  gzip_types  text/plain application/javascript application/x-javascript text/javascript text/xml text/css;
  {%if stripes_enable_https %}
  ssl on;
  ssl_certificate {{ stripes_certificate_file|basename }}
  ssl_certificate_key {{ stripes_certificate_key_file|basename }}
  {% endif %}
  # Serve index.html for any request not found
  location / {
    # Set path
    root {{ stripes_conf_dir }}/output;
    try_files $uri /index.html;
  }
  location /yarn.lock {
    alias {{ stripes_conf_dir }}/yarn.lock;
    include mime.types;
    types {
      text/plain lock;
    }
  }
  {% if stat_install_json.stat.exists %}
  location /install.json {
    alias /etc/folio/okapi/install.json;
    include mime.types;
    types {
      text/plain lock;
    }
  }
  {% endif %}
  {% if nginx_proxy_okapi %}
  location /okapi {
    rewrite ^/okapi/(.*) /$1 break;
    proxy_pass {{ nginx_proxy_okapi_url }};
  }
  {% endif %}
}
