{
  "srvcId" : "circulation",
  "descriptor" : {
    "dockerImage" : "folioci/mod-circulation:{{ mod_circulation_version }}",
    "env" : [
      { "name" : "JAVA_OPTS", "value" : "-Dport=9403" }
    ]
  }
}
