version: '3'
services:
  zookeeper:
    image: bitnami/zookeeper
    container_name: zookeeper
    restart: always
    ports:
      - "{{ zk_port }}:2181"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
  kafka:
    image: bitnami/kafka
    container_name: kafka
    restart: always
    ports:
      - "{{ kafka_port }}:9092"
      - "29092:29092"
    environment:
      - KAFKA_CFG_LISTENERS=INTERNAL://:9092,LOCAL://:29092
      - KAFKA_CFG_ADVERTISED_LISTENERS=INTERNAL://{{ kafka_host }}:9092,LOCAL://localhost:29092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=LOCAL:PLAINTEXT,INTERNAL:PLAINTEXT
      - KAFKA_CFG_INTER_CONTOLLER_LISTENER_NAME=INTERNAL
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_LOG_RETENTION_BYTES=-1
      - KAFKA_CFG_LOG_RETENTION_HOURS=-1
