CREATE SCHEMA IF NOT EXISTS folio_reporting;
ALTER SCHEMA folio_reporting OWNER TO "{{ ldp_admin_user }}";
GRANT CREATE, USAGE ON SCHEMA folio_reporting TO "{{ ldp_user }}";
GRANT USAGE ON SCHEMA folio_reporting TO "{{ ldp_user }}";
