{
  "scripts": {
    "build": "stripes build stripes.config.js",
    "stripes": "stripes",
    "start": "stripes dev stripes.config.js"
  },
  "dependencies": {
    {% for module in stripes_modules %}
    "{{ module.name }}": "{{ module.version }}",
    {% endfor %}
    "@folio/stripes-core": "^0.0.9-test"
  }
}
