{
    "srvcId" : "authorization-module",
    "nodeId" : "localhost",
    "descriptor" : {
        "exec" : "java -jar -Dport=%p -Djwt.signing.key=CorrectBatteryHorseStaple -jar {{ mod_auth_src_home }}/authorization_module/target/authorization_module-fat.jar"
    }
}
