{
  "srvcId" : "authentication-module",
  "nodeId" : "localhost",
  "descriptor" : {
    "exec" : "java -jar -Dport=%p -jar {{ mod_auth_src_home }}/authentication_module/target/authentication_module-fat.jar"
  }
}
