{
    "srvcId" : "permissions-module",
    "nodeId" : "localhost",
    "descriptor" : {
        "exec" : "java -jar -Dport=%p -jar {{ mod_auth_src_home }}/permissions_module/target/permissions_module-fat.jar"
    }
}
