#
# FOLIO mod-users-bl configuration
#

# The mod-users-bl service posts a deployment descriptor to a running Okapi
# Stopping the service calls the okapi-undeploy script to delete all
# running instances on the Okapi node.

okapi_url="{{ okapi_url }}"
