{
  "srvcId" : "{{ item.module_id }}",
  "descriptor" : {
    "dockerImage" : "{{ item.image_repository|default(docker_repo) }}/{{ item.name }}:{% if item.version is not defined or item.version == 'latest' %}latest{% else %}v{{ item.version }}{% endif %}"{% if item.docker_cmd is defined %},
    "dockerCMD" : [
    {% for docker_cmd in item.docker_cmd %}
      "{{ docker_cmd }}"{% if not loop.last %},{% endif %}
    {% endfor %}
    ]{% endif %}{% if item.docker_env is defined %},
    "env" : [
    {% for env_var in item.docker_env %}
      { "name" : "{{ env_var.name }}", "value" : "{{ env_var.value }}" }{% if not loop.last %},{% endif %}
    {% endfor %}
    ]{% endif %}{% if item.okapi_docker_pull is defined %},
    "dockerPull" : {{ item.okapi_docker_pull }}
    {% endif %}
  }
}
