#
# FOLIO okapi-deploy configuration
#

# The okapi-deploy service posts a deployment descriptors to a running Okapi
# Stopping the service calls the okapi-undeploy script to delete all
# running instances on the Okapi node.

okapi_url="{{ okapi_url }}"
modules="{% for module in folio_modules_withid %}{{ module.name }}{% if not loop.last %} {% endif %}{% endfor %}"
module_ids="{% for module in folio_modules_withid %}{{ module.module_id }}{% if not loop.last %} {% endif %}{% endfor %}"

