---
# defaults
# Database setup
create_db: yes
pg_admin_user: folio_admin
pg_admin_password: folio_admin
pg_host: "{{ ansible_default_ipv4.address }}"
pg_port: 5432
pg_maint_db: postgres
pg_max_pool_size: 5
module_database: okapi_modules
# If the module_env list is populated, it will set global module environment variables
# These environment variables can be overridden by the docker_env property of the folio_modules entries
module_env:
  - { name: DB_HOST, value: "{{ pg_host }}" }
  - { name: DB_PORT, value: "{{ pg_port }}" }
  - { name: DB_DATABASE, value: "{{ module_database }}" }
  - { name: DB_USERNAME, value: "{{ pg_admin_user }}" }
  - { name: DB_PASSWORD, value: "{{ pg_admin_password }}" }
  - { name: DB_MAXPOOLSIZE, value: "{{ pg_max_pool_size }}" }

# Okapi setup
okapi_port: 9130
okapi_url: "http://{{ ansible_default_ipv4.address }}:{{ okapi_port }}"
node_id: "{{ ansible_default_ipv4.address }}"
