---
# Handlers for rebuilding stripes
- name: Tear down old container
  become: yes
  docker_container: name=stripes_stripes_1 state=absent
  listen:
    - Rebuild container

- name: Remove old Docker image
  become: yes
  docker_image: name=stripes state=absent
  listen:
    - Rebuild container

- name: build and start stripes docker container
  become: yes
  docker_service:
    project_name: stripes
    definition: 
      version: '2'
      services: 
        stripes:
          build: "{{ stripes_conf_dir }}"
          image: stripes
          ports: 
            - "{{ stripes_host_address }}:{{ stripes_port }}:80"
          networks:  
            stripes-net:
              aliases:
                - stripes-serv
          restart: always
      networks: 
        stripes-net: 
          external: true
    state: present
  register: stripes_container_status
  listen: "Build container"

- debug:
    var: stripes_container_status
  listen: "Build container"

