{
  "srvcId" : "permissions-module",
  "descriptor" : {
    "dockerImage" : "{{ mod_auth_modules[2].docker_image }}",
    "env" : [
      { "name" : "db.host", "value" : "{{ pg_host }}" },
      { "name" : "db.port", "value" : "{{ pg_port }}" },
      { "name" : "db.username", "value" : "{{ pg_user }}" },
      { "name" : "db.password", "value" : "{{ pg_password }}" },
      { "name" : "db.database", "value" : "{{ mod_auth_db }}" }
    ]
  }
}

