[Unit]
Description=Deploy FOLIO mod-auth modules to Okapi on localhost
Requires=okapi.service
After=okapi.service

[Service]
User={{ folio_user }}
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/curl -s -X POST -H "Content-Type: application/json" -d @{{ mod_auth_home }}/conf/DeploymentDescriptor_login.json {{ okapi_url }}_/discovery/modules
ExecStart=/usr/bin/curl -s -X POST -H "Content-Type: application/json" -d @{{ mod_auth_home }}/conf/DeploymentDescriptor_authtoken.json {{ okapi_url }}_/discovery/modules
ExecStart=/usr/bin/curl -s -X POST -H "Content-Type: application/json" -d @{{ mod_auth_home }}/conf/DeploymentDescriptor_permissions.json {{ okapi_url }}_/discovery/modules
ExecStop={{ okapi_home }}/bin/okapi-undeploy login-module {{ okapi_url }}
ExecStop={{ okapi_home }}/bin/okapi-undeploy authtoken-module {{ okapi_url }}
ExecStop={{ okapi_home }}/bin/okapi-undeploy permissions-module {{ okapi_url }}

[Install]
WantedBy=multi-user.target
