{
  "srvcId" : "inventory",
  "descriptor" : {
    "dockerImage" : "{{ mod_metadata_modules[1].docker_image }}",
    "env" : [
      { "name" : "JAVA_OPTS", "value" : "-Dorg.folio.metadata.inventory.storage.type=okapi" }
    ]
  }
}
