#
# FOLIO mod-metadata configuration
#

# The mod-metadata service posts deployment descriptors to a running Okapi
# Stopping the service calls the okapi-undeploy script to delete all
# running instances on the Okapi node.

okapi_url="{{ okapi_url }}"
